.custom-arrow{
  border: 2px solid rgb(247, 247, 247,0.8);
  color: #06416C;
  border-radius: 10px;
  font-size: 2rem !important;
}

.calendar-container {
  padding:10px  30px;
  border-radius: 10px;
  max-height: 30rem; 
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background: none;
}

.react-calendar {
  border: none;
  background: none;
}

.react-calendar__navigation__label{
  font-size: 18px !important; 
  font-weight: 700 !important;
  border: none;
  color: #06416C;
  border-radius: 10px;
}



.react-calendar__tile {
  max-width: 100%;
  padding: 18px;
  background: none;
  text-align: center;
  line-height: 16px;
  color: #06416C;
  font-size: 1rem;
 
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background: #06416C;
  color: #fff;
  border-radius: 6px;
}

.react-calendar__tile--now,
.react-calendar__tile--active {
  background: #06416C;
  border-radius: 6px;
  font-weight: bold;
  color: #fff;
}

.react-calendar__month-view__weekdays {
  display: flex;
  justify-content: space-around;
  font-weight: bold; 
  padding: 10px;
}

.react-calendar__month-view__weekdays__weekday {
   color: #7d7d7b;
  font-size: 16px;
  text-align: center;
  text-transform: capitalize;
}

.react-calendar__month-view__weekdays__weekday abbr {
  border: none;
  padding-bottom: 5px;
  cursor: default; 
  list-style: none;
  text-decoration: none;
}
.react-calendar__month-view__days__day--weekend {
  color: #06416C;
}
.react-calendar__month-view__days__day--neighboringMonth {
  color: #7d7d7b;
}

