.support {
  margin: 10px;
  width: 98%; 
  height: 88vh;
  
  padding: 1rem; 
}

.border-buttom{
  border: 2px solid;
}
.border-custom {
  border: 4px solid rgb(222, 216, 216);
  margin-top: 1rem;
  width: 100%; /* Make full width */
  border-radius: 10px;
}

.btn-complain {
  border: none;
  background: orange;
  border-radius: 20px;
  margin-bottom: 4px;
  margin-top: -4px;
  font-size: 14px;
}

.status-complain{
  background-color: green;
}

.status-query {
  background-color: blue;
}

.status-support {
  background-color: orange;
}

.scrollable-tickets {
  height: 420px;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.scrollable-tickets::-webkit-scrollbar {
  display: none;
}

.scrollable-tickets {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* pop scroll */
.scrollable-ticket {
  height: 150px;
  overflow-y: scroll;
  scroll-behavior: smooth;
  padding-right: 10px;
}

.scrollable-ticket::-webkit-scrollbar {
  display: none;
}

.scrollable-ticket {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  width: 90%; /* Adjust width for smaller screens */
  max-width: 40rem;
}

.comment-section .user-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.comment-text {
  margin-top: -1rem;
}

.btn-view{
  border: none;
  background: none;
  color: #06416C;
  border-bottom: 1px solid #06416C;
}

.cross-btn{
  background: none;
  border: none;
}
